@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap");

$colour1: #17183b;
$colour2: #efe9f4;
$colour3: #a11692;
$colour4: #5fbff9;

$font1: "Bebas Neue", cursive;
$font2: "Roboto", sans-serif;
